h1{
  text-align: center;
  padding-top: 5%;
  margin-bottom: -2%;
}

.artistic-title {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(45deg, #d3de3c, #72ce45); /* 绿色渐变 */
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  text-align: center;
}


.container {
  padding: 4% 10% 10% 10%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.container > div {
  /* positioning */
  flex-grow: 1;
  overflow: hidden;
  height: 200px;
  margin: 5px;

  /* styling */
  border-radius: 3px;
  box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.container > div:hover {
  transform: scale(1.1); /* 放大整个 div */
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

